<div>
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">大树夏运营状态</h1>
        </div>
    </div>
    <div class="row">
        <stats number="216" comments="正式客户" colour="primary" type="user"></stats>
        <stats number="340" comments="学生总数" colour="primary" type="user"></stats>
        <stats number="1099" comments="订单总数" colour="yellow" type="shopping-cart"></stats>
        <stats number="190K" comments="总收益" colour="red" type="money"></stats>
        <stats number="9800" comments="作品数" colour="red" type="work"></stats>
    </div>
</div>
