<div>
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">财务管理</h1>
        </div>
    </div>
    <div class="row">
        <tiles number="8,890,123" comments="营业收入" colour="primary" type="dollar" goto="#/dashboard/financial/op-revenue"></tiles>
        <tiles number="3,727,262" comments="营业成本" colour="success" type="money" goto="#/dashboard/financial/op-cost"></tiles>
        <tiles number="3,837,122" comments="管理费用" colour="yellow" type="money" goto="#/dashboard/financial/co-expense"></tiles>
        <tiles number="1,001,290" comments="财务费用" colour="red" type="money" goto="#/dashboard/financial/fi-expense"></tiles>
        <tiles number="500,000" comments="所得税额" colour="red" type="money" goto="#/dashboard/financial/ic-tax"></tiles>
        <tiles number="500,000" comments="增值税额" colour="red" type="money" goto="#/dashboard/financial/va-tax"></tiles>
    </div>
</div>