<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.buyrui.finding.ebayitems.mapper.CategoryMapper">
	<sql id="all_fields">
		id, category_id, category_name, comment, parent_id, enabled
	</sql>
	<resultMap type="com.buyrui.finding.ebayitems.domain.Category"
		id="categoryMap">
		<result property="id" column="id" />
		<result property="category_id" column="category_id" />
		<result property="category_name" column="category_name" />
		<result property="comment" column="comment" />
		<result property="parent_id" column="parent_id" />
		<result property="enabled" column="enabled" />
	</resultMap>

	<select id="findById" resultMap="categoryMap">
		select
		<include refid="all_fields" />
		from category where category_id = #{category_id}
	</select>

	<select id="findAll" resultMap="categoryMap">
		select
		<include refid="all_fields" />
		from category
	</select>

	<select id="search" resultMap="categoryMap">
		SELECT
		<include refid="all_fields" />
		FROM category where
		<foreach collection="array" item="keyword" separator="OR"
			open="(" close=")">
			category_name like CONCAT('%',#{keyword},'%')
		</foreach>
		OR
		<foreach collection="array" item="keyword" separator="OR"
			open="(" close=")">
			category_id like CONCAT('%',#{keyword},'%')
		</foreach>
		OR
		<foreach collection="array" item="keyword" separator="OR"
			open="(" close=")">
			comment like CONCAT('%',#{keyword},'%')
		</foreach>
		OR
		<foreach collection="array" item="keyword" separator="OR"
			open="(" close=")">
			parent_id like CONCAT('%',#{keyword},'%')
		</foreach>
	</select>

	<insert id="insert" parameterType="com.buyrui.finding.ebayitems.domain.Category"
		useGeneratedKeys="true" keyProperty="id" keyColumn="id">
		INSERT INTO category
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="category_id != null"> category_id, </if>
			<if test="category_name != null"> category_name, </if>
			<if test="comment != null"> comment, </if>
			<if test="parent_id != null"> parent_id, </if>
			<if test="enabled != null"> enabled, </if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="category_id != null"> #{category_id,jdbcType=VARCHAR}, </if>
			<if test="category_name != null"> #{category_name,jdbcType=VARCHAR},</if>
			<if test="comment != null">#{comment,jdbcType=VARCHAR},</if>
			<if test="parent_id != null">#{parent_id,jdbcType=VARCHAR},</if>
			<if test="enabled != null">#{enabled,jdbcType=TINYINT},</if>
		</trim>
		<selectKey resultType="integer" keyProperty="id" order="AFTER">
			SELECT LAST_INSERT_ID();
		</selectKey>
	</insert>
	
	<update id="update" parameterType="com.buyrui.finding.ebayitems.domain.Category">
        UPDATE category
        <set>
            <if test="category_id != null"> category_id = #{category_id,jdbcType=VARCHAR}, </if>
            <if test="category_name != null"> category_name = #{category_name,jdbcType=VARCHAR}, </if>
            <if test="comment != null"> comment = #{comment,jdbcType=VARCHAR}, </if>
            <if test="parent_id != null"> parent_id = #{parent_id,jdbcType=VARCHAR}, </if>
            <if test="enabled != null"> enabled = #{enabled,jdbcType=TINYINT}, </if>
        </set>
        WHERE id = #{id};
    </update>
</mapper>